:root{
    /* Font */
    font-family: "Roboto Flex", serif;
    /* Colours */
    --background-overlay: #3e3e3e7e;
    --text-main: #ffffff;
    --text-hover: #70b8c4;
}
body{
    margin: 0;
}
/* Background image */
.backgroundImg{
    background-image: url('./media/bg.jpg');
    background-position: top;
}
.backgroundOverlay{
    background-image: url('./media/bg-overlay.png');
    background-color: var(--background-overlay);
}
/* Main */
.gem{
    width: 50px;
}