:root{
    /* Font */
    font-family: "Roboto Flex", serif;
    /* Colours */
    --background-overlay: #3e3e3e7e;
    --text-main: #ffffff;
    --text-hover: #70b8c4;
}

body{
    margin: 0;
}
h1, p, ul{
    margin: 30px 10px;
    padding: 0;
}

/* Text styles */
.fontWhiteUppercase{
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    color: var(--text-main);
    text-transform: uppercase;
}
.fontDotUnderline{
    border-bottom: 1px dotted var(--text-main);
}
h1.fontWhiteUppercase{
    /* Header */
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    text-align: center;
}

/* Background image */
.backgroundImg{
    background-image: url('./media/bg.jpg');
    background-position: top;
}
.backgroundOverlay{
    background-image: url('./media/bg-overlay.png');
    background-color: var(--background-overlay);
}

/* Main */
.verticalFlex{
    display: flex;
    flex-direction: column;
}
.gem{
    /* Gem */
    width: 50px;
    margin-top: 80px;
    padding: 30px;
    border: 1px solid var(--text-main);
    border-radius: 100%;
    align-self: center;
}
.menuList{
    /* Menu List */
    list-style-type: none;
    li{
        border: 1px solid var(--text-main);
        border-radius: 3px;
        padding: 15px;
        text-align: center;
    }
}
.headerAndTextWrapper{
    border-bottom: 1px solid var(--text-main);
    border-top: 1px solid var(--text-main);
    margin: 50px 10px;
}